<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
  <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css')}}>
</head>

<body>
  <div class="container">
    <section class="main">
      <h1 class="title">Hello, Flask!</h1>
      <hr>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quibusdam enim quaerat optio! Et rem, cupiditate ducimus ipsa obcaecati, facere, est quaerat optio doloribus quas cum! Minus qui dolor nihil?</p>
    </section>
  </div>
</body>
</html>